* {
    margin: 0;
    padding: 0;
}

:root {
    --color-green: #0C3C3B;
    --color-yellow: #FFC53E;
    --color-white: #F9F3F1;
    --fontsize-h1: 3.8125em;
    --fontsize-h2: 3.0625em;
    --fontsize-h3: 2.4375rem;
    --fontsize-h4: 1.9375rem;
    --fontsize-p: 1em;
}


body {
    font-family: Poppins, Arial, sans-serif;
    margin: 0;

}

header {
    padding-left:100px;
    padding-top: 1em;

    background-color: var(--color-green);
    

  
}

nav div {
    align-items: center;
}

header nav {
   display: flex; 
   gap: 240px;
   padding-bottom: 32px;
   

}


#fullnav {
    display: flex;
    gap: 2em;
    
    
}

#fullnav a {
    font-size: var(--fontsize-p);
    color: var(--color-white);
    text-decoration: none;
    
    
}

.btn_nav {
    background-color: var(--color-yellow);
    display: flex; 
    text-decoration: none;
    color: var(--color-white);
    padding: 16px 32px;
    border-radius: 2em;
    transition: tranform 0.2s ease-in-out;
}

.hero_text {
    padding-top: 132px;
}

.hero_text span {
    color: var(--color-yellow);
    padding-bottom: 16px;
    
}

#h1_green {
    font-size: var(--fontsize-h2);
    color: var(--color-white);
    line-height: 60px;
    margin: 0;
}

header div p {
    font-size: var(--fontsize-p);
    color: var(--color-white);
    padding-bottom: 32px;
}

.download_now {
    padding-top: 64px;
    margin: 0;
    display: flex;
    gap: 16px;
}

.full_hero {
    display: flex;
}

#Phone_mockup {
    padding-left: 220px;
    padding-bottom: 12px;
  
    
}


#text {
    padding-bottom: 64px;
    display:inline-block;
    
   
}



main section.white1 {
    background-color:var(--color-white);
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    

}

main section.white1 span {
    color: var(--color-green);
    font-size: var(--fontsize-p);
   
    margin-bottom: 16px;

}

main section.white1 h2 {
    color: var(--color-green);
    font-size: var(--fontsize-h3);
   


}

main section.white1 p {
    color: var(--color-green);
    font-size: var(--fontsize-p);
}

main section.white1 div h3 {
    color: var(--color-green);
    font-size: var(--fontsize-h3);
    
}

main section.white1 div p {
    color: var(--color-green);
    font-size: var(--fontsize-p);
   

}

main section.white1 .divider {
    background-color: var(--color-yellow);
    padding: 5px;
    border-radius: 30px;
  

}


main section.white1 .stats_row {
    display: flex;
    padding-bottom: 100px;
    text-align: center;
    gap: 32px;
    
}

.stat_box {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.stat_box h3 {
    
}


.cta_btn {
    background-color: var(--color-yellow); 
    text-decoration: none;
    color: var(--color-white);
    padding: 16px 32px;
    border-radius: 2em;
    transition: tranform 0.2s ease-in-out;
}

main section .img_grid {
    display: flex;
    gap: 20px;
}

main section .img_grid img {
    width: 295px;
    height: 508px;
    border-radius: 32px;

}

main section .img_grid .img {
    display: flex; 
    flex-direction: column;
    gap: 20px;
}


#img2 {
    height: 244px;
    border-radius: 32px;
}

#img3 {
    height: 244px;
    width: 295px;
    border-radius: 32px;
}


.fullwhite1 {
 
}




