* {
    margin: 0;
    padding: 0;
}

:root {
    --color-green: #0C3C3B;
    --color-yellow: #FFC53E;
    --color-white: #F9F3F1;
    --fontsize-h1: 3.8125em;
    --fontsize-h2: 3.0625em;
    --fontsize-h3: 2.4375rem;
    --fontsize-h4: 1.9375rem;
    --fontsize-p: 1em;
}


body {
    font-family: Poppins, Arial, sans-serif;
    margin: 0;

}

header {
    padding-left:100px;
    padding-top: 1em;

    background-color: var(--color-green);
    

  
}

nav div {
    align-items: center;
}

header nav {
   display: flex; 
   gap: 240px;
   padding-bottom: 32px;
   

}


#fullnav {
    display: flex;
    gap: 2em;
    
    
}

#fullnav a {
    font-size: var(--fontsize-p);
    color: var(--color-white);
    text-decoration: none;
}

#fullnav div a {
    font-weight: bold;
}

.btn_nav {
    background-color: var(--color-yellow);
    text-decoration: none;
    color: var(--color-white);
    padding: 16px 32px;
    border-radius: 2em;
    transition: tranform 0.2s ease-in-out;
}

.hero_text {
    padding-top: 132px;
}

.hero_text span {
    color: var(--color-yellow);
    padding-bottom: 16px;
    
}

#h1_green {
    font-size: var(--fontsize-h2);
    color: var(--color-white);
    line-height: 60px;
    margin: 0;
}

header div p {
    font-size: var(--fontsize-p);
    color: var(--color-white);
    padding-bottom: 32px;
    line-height: 24px;
}

.download_now {
    padding-top: 64px;
    margin: 0;
    display: flex;
    gap: 16px;
}

.full_hero {
    display: flex;
}

#Phone_mockup {
    padding-left: 220px;
    padding-bottom: 12px;
  
    
}


#text {
    padding-bottom: 64px;
    display:inline-block;
    
   
}



main section.section_light {
    background-color:var(--color-white);
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding-bottom: 100px;
    

}

main section.section_light span {
    color: var(--color-green);
    font-size: var(--fontsize-p);
   
    margin-bottom: 16px;

}

main section.section_light h2 {
    color: var(--color-green);
    font-size: var(--fontsize-h2);
    line-height: 50px;
   


}

main section.section_light p {
    color: var(--color-green);
    font-size: var(--fontsize-p);
    line-height: 24px;
}

main section.section_light div h3 {
    color: var(--color-green);
    font-size: var(--fontsize-h3);

    
}

main section.section_light div p {
    color: var(--color-green);
    font-size: var(--fontsize-p);
   

}

main section.section_light .divider {
    background-color: var(--color-yellow);
    border-radius: 30px;
    width: 5px;
}


main section.section_light .stats_row {
    display: flex;
    padding-bottom: 100px;
    text-align: center;
    gap: 32px;
    
}


.full_light a {
    font-weight: bold;
}

.stat_box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}




.cta_btn {
    background-color: var(--color-yellow); 
    text-decoration: none;
    color: var(--color-white);
    padding: 16px 32px;
    border-radius: 2em;
    transition: tranform 0.2s ease-in-out;
}

main section .img_grid {
    display: flex;
    gap: 20px;
}

main section .img_grid img {
    width: 295px;
    height: 508px;
    border-radius: 32px;
    object-fit: cover;

}

main section .img_grid .img {
    display: flex; 
    flex-direction: column;
    gap: 20px;
}


#img2 {
    height: 169px;
    border-radius: 32px;
    object-fit: cover;
}

#img3 {
    height: 319px;
    width: 295px;
    border-radius: 32px;
    object-fit: cover;
}



.section_dark {
    background-color: var(--color-green);
    padding: 100px;
    
}



.text_top span {
    color: var(--color-yellow);
    font-size: var(--fontsize-p);

}

.text_top h2 {
    color: var(--color-white);
    font-size: var(--fontsize-h2);
    line-height: 50px;
}

.text_top p {
    color: var(--color-white);
    font-size: var(--fontsize-p);
    padding-top: 50px;
    line-height: 24px;
}

.text_top {
    display: flex;
    gap: 200px;
    padding-bottom: 64px;
    
}


.img_merch {
    display: flex;
    padding-left: 100px;
    gap: 32px;

}

.merch_row {
    padding-bottom: 20em;
}


.merch_row img {
    background-color: var(--color-white);
    width: 300px;
    height: 400px;
    border-radius: 20px;
    margin-bottom: 32px;
   
}

#full_merch {
    display: flex;
}

#full_merch div a {
    font-weight: bold;
}



.merch_row h4 {
    color: var(--color-white);
    font-size: var(--fontsize-h4);
    font-weight: 500;
}

.merch_row p {
    color: var(--color-white);
    font-size: var(--fontsize-p);
    line-height: 24px;
}


.arrow_btn_inverted {
    color: var(--color-yellow);
    text-decoration: none;
    background-color: transparent;
    padding: 10px 30px;
    border-radius: 20px;
    border: 1px solid var(--color-yellow);
    font-size: 1.5em;
    




}

.arrow_btn {
    color: var(--color-white);
    text-decoration: none;
    background-color: var(--color-yellow);
    padding: 10px 30px;
    border-radius: 20px;
     font-size: 1.5em;

}



.section_understanding {
    background-color: var(--color-white);
    padding: 100px;
    display: flex;
    gap: 64px;
}

.section_understanding .text_understanding {
    padding-top: 100px;
    padding-bottom: 100px;
}

.section_understanding .text_understanding span {
    color: var(--color-green);
    font-size: var(--fontsize-p);
    
   
}

.section_understanding .text_understanding h2 {
    color: var(--color-green);
    font-size: var(--fontsize-h2);
    line-height: 50px;
    padding-top: 16px;
}

.section_understanding .text_understanding p {
    color: var(--color-green);
    font-size: var(--fontsize-p);
    line-height: 24px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.section_understanding .text_understanding .btn_nav  {
    color: var(--color-white);
    text-decoration: none;
    font-weight: bold;
   
    
}

.section_understanding #img_understanding img {
    max-width: 500px;
    width: 100%;
    max-height: 500px;
    height: 100%;
    border-radius: 32px;
    object-fit: cover;
}








