:root {
    --color-green: #0C3C3B;
    --color-yellow: #FFC53E;
    --color-white: #F9F3F1;
    --fontsize-h1: 3.8125em;
    --fontsize-h2: 3.0625em;
    --fontsize-h3: 2.4375rem;
    --fontsize-h4: 1.9375rem;
    --fontsize-p: 1em;
}


