:root {
    --color-green: #0C3C3B;
    --color-yellow: #FFC53E;
    --color-white: #F9F3F1;
    --fontsize-h1: 3.8125em;
    --fontsize-h2: 3.0625em;
    --fontsize-h3: 2.4375rem;
    --fontsize-h4: 1.9375rem;
    --fontsize-p: 1em;
}


body {
    font-family: Poppins, Arial, sans-serif;
    margin: 0;

}

header {
    padding-left:100px;
    padding-top: 1em;

    background-color: var(--color-green);

  
}

nav div {
    align-items: center;
}

header nav {
   display: flex; 
   gap: 240px;
   

}


#fullnav {
    display: flex;
    gap: 2em;
    
    
}

#fullnav a {
    font-size: var(--fontsize-p);
    color: var(--color-white);
    text-decoration: none;
    
    
}

.btn_nav {
    background-color: var(--color-yellow);
    display: flex; 
    text-decoration: none;
    color: var(--color-white);
    padding: 16px 32px;
   
    
    border-radius: 2em;
    text-transform: uppercase;
    font-size: 0.7em;
    letter-spacing: 2px;
    transition: tranform 0.2s ease-in-out;
}