:root {
    --color-green: #0C3C3B;
    --color-yellow: #FFC53E;
    --color-white: #F9F3F1;
    --fontsize-h1: 3.8125em;
    --fontsize-h2: 3.0625em;
    --fontsize-h3: 2.4375rem;
    --fontsize-h4: 1.9375rem;
    --fontsize-p: 1em;
}


body {
    font-family: Poppins, Arial, sans-serif;
    margin: 0;

}

header {
    padding-left:100px;
    padding-top: 1em;

    background-color: var(--color-green);

  
}

nav div {
    align-items: center;
}

header nav {
   display: flex; 
   gap: 240px;
   padding-bottom: 32px;
   

}


#fullnav {
    display: flex;
    gap: 2em;
    
    
}

#fullnav a {
    font-size: var(--fontsize-p);
    color: var(--color-white);
    text-decoration: none;
    
    
}

.btn_nav {
    background-color: var(--color-yellow);
    display: flex; 
    text-decoration: none;
    color: var(--color-white);
    padding: 16px 32px;
    border-radius: 2em;
    transition: tranform 0.2s ease-in-out;
}

.hero_text {
    padding-top: 132px;
}

.hero_text span {
    color: var(--color-yellow);
    padding-bottom: 16px;
    
}

#h1_green {
    font-size: var(--fontsize-h2);
    color: var(--color-white);
    line-height: 60px;
    margin: 0;
}

header div p {
    font-size: var(--fontsize-p);
    color: var(--color-white);
    padding-bottom: 32px;
}

.download_now {
    padding-top: 64px;
    margin: 0;
    display: flex;
    gap: 16px;
}

.full_hero {
    display: flex;
}

#Phone_mockup {
    padding-left: 220px;
    padding-bottom: 12px;
  
    
}

main section.white1 {
    background-color:var(--color-white);

}

main section.white1 span {
    color: var(--color-green);
    font-size: var(--fontsize-p);

}

main section.white1 h2 {
    color: var(--color-green);
    font-size: var(--fontsize-h3);


}

main section.white1 p {
    color: var(--color-green);
    font-size: var(--fontsize-p);
}

main section.white1 div h3 {
    color: var(--color-green);
    font-size: var(--fontsize-h3);
}

main section.white1 div p {
    color: var(--color-green);
    font-size: var(--fontsize-p);
}

main section.white1 .divider {
    background-color: #FFC53E;
    padding: 10px;
}


main section.white1 .stats_row {
    
}


